/*==========================================================
Global Styles
==========================================================*/
.profile {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  max-width: 1080px;
  margin: 0 auto;
}
/*---------- 946px BREAK POINT ----------*/
@media only screen and (min-width: 946px) {
  .profile {
    gap: 1rem;
    flex-direction: row;
  }
}
/*==========================================================
Profile column Styles
==========================================================*/
ul.card,
aside {
  padding: 0;
  border: unset;
  width: 100%;
  max-width: 557px;
  height: fit-content;
}
ul.card svg {
  position: relative;
  top: -2px;
}
ul.card li.list-group-item {
  border: 1px solid rgb(255 255 255 / 13%);
  background-color: var(--brand-gray2);
  text-align: center;
  color: var(--brand-gray3);
}
ul.card li.list-group-item:first-child {
  padding: 1.5rem 2.5rem;
}
.list-group-item .header1 {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.list-group-item .header1 + p {
  color: #808080;
}
ul.card li.list-group-item p.bio {
  margin: 0 auto 1.5rem;
  line-height: 1.35rem;
  max-width: 34ch;
}
ul.card li.list-group-item img.main-img {
  width: 90%;
}
ul.card li.list-group-item img.main-img.user-img {
  margin: 45px 0;
  max-width: 150px;
}
ul.card li.list-group-item .icon-group {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}
ul.card li.list-group-item .icon-group p {
  font-weight: 700;
  font-size: 1.25rem;
  display: flex;
  position: relative;
}
ul.card li.list-group-item .icon-group svg {
  position: relative;
  top: -2px;
  margin-right: 10px;
}
ul.card li.list-group-item .followcnt-group {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  color: gray;
}
ul.card li.list-group-item .followcnt-group span {
  color: var(--brand-gray3);
  font-weight: 600;
}
ul.card li.list-group-item.striped.edit-btn {
  justify-content: center;
}
ul.card li.list-group-item.striped {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2.5rem;
  gap: 0.55rem;
}
ul.card li.list-group-item.striped:nth-child(odd) {
  background-color: #26262d;
}
ul.card li.list-group-item.striped:last-child {
  justify-content: center;
}
ul.card li.list-group-item .btn {
  width: 100%;
  font-size: 0.9rem;
  position: relative;
}
ul.card li.list-group-item.striped a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
}
ul.card li.list-group-item.striped a img {
  width: 60%;
  margin: 0 10px;
  border-radius: 50%;
  background-color: var(--brand-gray1);
  transition: transform 0.2s;
}
ul.card li.list-group-item.striped a:hover img {
  transform: scale(1.0625);
}
ul.card li.list-group-item.striped a:focus {
  outline: unset;
}
ul.card li.list-group-item.striped a:focus img {
  outline: 2px solid #3196fd40;
}
/*---------- 300px BREAK POINT ----------*/
@media only screen and (min-width: 300px) {
  ul.card li.list-group-item.striped:last-child {
    justify-content: space-between;
  }
}
/*---------- 416px BREAK POINT ----------*/
@media only screen and (min-width: 416px) {
  ul.card li.list-group-item.striped {
    flex-wrap: nowrap;
  }
  ul.card li.list-group-item .btn {
    width: 50%;
  }
}
/*---------- 600px BREAK POINT ----------*/
@media only screen and (min-width: 600px) {
  ul.card,
  aside {
    margin: 0 auto;
  }
  ul.card li.list-group-item img.main-img.user-img {
    max-width: 286px;
  }
}
/*---------- 946px BREAK POINT ----------*/
@media only screen and (min-width: 946px) {
  ul.card,
  aside {
    max-width: 400px;
  }
}
/*==========================================================
Post Column Styles
==========================================================*/
.post-column {
  width: 100%;
  max-width: 557px;
  margin: 0 auto;
}

/*---------- 946px BREAK POINT ----------*/
@media only screen and (min-width: 946px) {
  .post-column {
    max-width: 650px;
  }
}

/*---------- Modal animation ----------*/
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
