.login-registration {
	background-color: var(--brand-gray2);
	width: 100%;
	max-width: 500px;
	margin: 2rem auto 0;
	padding: 1.5rem;
	border-radius: 0.5rem;
}
form .form-row {
	margin-bottom: 1rem;
}
form .form-row label {
	margin-bottom: 5px;
}
.btn-container {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
}
.btn-container button {
	margin-bottom: 1rem;
}
.tag-line {
	margin: 3rem auto 0;
	width: 100%;
	text-align: center;
}
.tag-line .header1 {
	max-width: 19ch;
	margin: 0 auto 1rem;
}
.tag-line img {
	width: 100%;
}
strong {
	display: block;
	margin: 1.5rem 0;
}
strong.error {
	color: var(--brand-primary);
	margin: 0.5rem 0;
	font-size: 14px;
	line-height: 1.25rem;
}
.success {
	color: var(--brand-secondary);
	position: absolute;
	right: 0.5rem;
	top: 1.85rem;
	font-size: 1.25rem;
}
/*---------- 1080px BREAK POINT ----------*/
@media only screen and (min-width: 1080px) {
	.tag-line {
		max-width: 500px;
	}
	.log-res-wrapper {
		position: absolute;
		top: 50vh;
		left: 50vw;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 1080px;
		/* width: 100%; */
		/* height: fit-content; */
	}
	.login-registration,
	.tag-line {
		margin: 0;
	}
}
