.type {
	border-radius: 1rem;
	padding: 7px;
	margin: 0 auto;
	text-align: center;
	width: 150px;
}
.type-group {
	display: flex;
	padding: 1.5rem 2.5rem;
	gap: 0.5rem;
}

.bug {
	background-color: rgb(146, 158, 101);
	color: rgb(58, 66, 58);
}
.dark {
	background-color: rgb(54, 33, 49);
	color: rgb(250, 229, 241);
}
.dragon {
	background-color: rgb(131, 55, 255);
	color: var(--brand-gray3);
}
.electric {
	background-color: rgb(224, 223, 117);
	color: rgb(61, 56, 27);
}
.fairy {
	background-color: rgb(255, 151, 151);
	color: rgb(82, 27, 27);
}
.fighting {
	background-color: rgb(129, 54, 32);
	color: var(--brand-gray3);
}
.fire {
	background-color: rgb(228, 99, 60);
	color: rgb(58, 34, 25);
}
.flying {
	background-color: rgb(127, 221, 238);
	color: rgb(35, 36, 51);
}
.ghost {
	background-color: rgb(108, 72, 124);
	color: var(--brand-gray3);
}
.grass {
	background-color: rgb(84, 121, 84);
	color: var(--brand-gray3);
}
.ground {
	background-color: rgb(110, 67, 38);
	color: var(--brand-gray3);
}
.ice {
	background-color: rgb(101, 245, 255);
	color: rgb(0, 0, 0);
}
.normal {
	background-color: rgb(128, 128, 128);
	color: var(--brand-gray3);
}
.psychic {
	background-color: rgb(218, 94, 197);
	color: rgb(53, 36, 52);
}
.poison {
	background-color: rgb(187, 94, 211);
	color: rgb(245, 217, 239);
}
.rock {
	background-color: rgb(92, 64, 27);
	color: rgb(253, 232, 212);
}
.water {
	background-color: rgb(45, 138, 192);
	color: var(--brand-gray3);
}
.steel {
	background-color: rgb(93, 110, 119);
	color: var(--brand-gray3);
}
