.result-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(13.375rem, 1fr));
	gap: 0.75rem;
}
.result-container .card {
	text-align: center;
	display: inline-block;
	padding: 1.25rem;
	transition: transform 0.2s;
}
.result-container .card p:first-child {
	color: #808080;
	font-size: 0.8rem;
}
.result-container .card img {
	width: 60%;
	margin: 1rem auto;
}
.result-container .card p:last-child {
	color: var(--brand-gray3);
	text-transform: capitalize;
}
.result-container .card:hover,
.result-container a:focus .card {
	transform: scale(1.025);
}
.result-container .card:hover p:last-child,
.result-container a:focus .card p:last-child {
	color: var(--brand-secondary);
}
strong.loading {
	text-align: center;
}
.filter-form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.filter-form label {
	margin: 0 0.35rem 0 1rem;
	font-weight: 600;
}
.filter-form label:first-child {
	margin-left: 0;
}
.filter-form button {
	margin-left: 1rem;
}
@media only screen and (max-width: 407px) {
	.filter-form button {
		width: 100%;
		margin: 1rem auto;
	}
}
